# Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]

# PyCharm specific
.idea/

# SCADA Data & Logs
data/telemetry/
data/exports/
data/scans/
FaultLogs/
SystemLogs/
SystemLogsBin/
*.npz
*.log